body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #000000;
}

.heading-container{
    padding-left: 15px;
}

.heading{
    color: #FFFFFF;
}

.box-container{
    background-color: #CDCDCD;
    padding: 25px;
}

.search-container{ 
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.search-container input{
    font-size: 24px;
    color: #000000;
    padding: 5px;
    flex-grow: 1;
    margin-right: 15px;
    border: 1px solid #000000;
    background-color: #D9D9D9;
}

.search-container button{
    background-color: #000000;
    color: #FFFFFF;
    font-size: 24px;
    padding: 10px 45px;
}

.sort-button-container{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.sort-button-container button{
    background-color: #000000;
    color: #FFFFFF;
    font-size: 24px;
    padding: 10px 45px;
}



.table-container table{
    width: 100%;
    border: 1px solid #000000;
    color: #000000;
    font-size: 24px;
}

table td{
    padding: 5px;
}

.table-container #name-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
